<h2 class="title">state action</h2>
<form>
    <label>Name:</label>
    <input type="text" name="name">
    <label>Value:</label>
    <input type="text" name="value">
</form>
<div class="buttons">
    <button class="save"><i class="icon-true"></i> Save</button>
    <button class="cancel"><i class="icon-false"></i> Cancel</button>
</div>