<div class="deviceInfo">
    <div class="title">
        <span class="name"></span>
        <div class="buttons">
            <button class="rename"><i class="icon-edit"></i> Rename</button>
            <button class="remove"><i class="icon-trash"></i> Remove</button>
            <button class="data"><i class="icon-code"></i></button>
        </div>
    </div>
    <table>
        <tr><td>Description</td><td class="description">-</td></tr>
        <tr><td>Logical type</td><td class="logicalType">-</td></tr>
        <tr><td>Power source</td><td class="powerSource">-</td></tr>
        <tr><td>IEEE address</td><td class="ieeeAddress">-</td></tr>
        <tr><td>Network address</td><td class="networkAddress">-</td></tr>
        <tr><td>Manufacturer code</td><td class="manufacturerCode">-</td></tr>
        <tr><td>Manufacturer name</td><td class="manufacturerName">-</td></tr>
        <tr><td>Model name</td><td class="modelName">-</td></tr>
        <tr><td>Firmware</td><td class="firmware">-</td></tr>
        <tr><td>Interview finished</td><td class="interviewFinished">-</td></tr>
        <tr><td>Supported</td><td class="supported">-</td></tr>
    </table>
    <div class="exposes title">
        <span class="name">Exposes</span>
        <div class="buttons">
            <button class="debug"><i class="icon-hash"></i></button>
            <button class="topics"><i class="icon-list"></i></button>
        </div>
    </div>
    <table class="exposes"></table>
</div>