html, body {
    margin: 0;
    font-size: 14px;
}

body[theme="light"] {
    background-color:   #eeeeee;
}

body[theme="dark"] {
    background-color:   #222222;
}

.homed[theme="light"] {
    --background-main:  #ffffff;
    --background-shade: #eeeeee;
    --background-hover: #dddddd;
    --background-error: #ffdddd;
    --border-loader:    #888888;
    --border-main:      #cccccc;
    --border-shade:     #eeeeee;
    --color-main:       #444444;
    --color-shade:      #888888;
    --color-highlight:  #000000;
    --range-main:       #cccccc;
    --range-dark:       #666666;
    --range-light:      #eeeeee;
}

.homed[theme="dark"] {
    --background-main:  #111111;
    --background-shade: #222222;
    --background-hover: #333333;
    --background-error: #330000;
    --border-loader:    #888888;
    --border-main:      #444444;
    --border-shade:     #222222;
    --color-main:       #cccccc;
    --color-shade:      #888888;
    --color-highlight:  #ffffff;
    --range-main:       #444444;
    --range-dark:       #222222;
    --range-light:      #cccccc;
}

.homed {
    --color-success:    green;
    --color-warning:    orange;
    --color-error:      red;
    --border-radius:    5px;
    --box-shadow:       0 5px 10px rgba(0, 0, 0, 0.25);
    --header-height:    50px;
    --footer-height:    40px;
    margin: 0;
    background-color: var(--background-main);
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--color-main);
}

.homed button {
    height: 30px;
    padding: 0 10px;
    background-color: var(--background-shade);
    cursor: pointer;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    color: var(--color-main);
    text-transform: uppercase;
}

.homed button:hover {
    background-color: var(--background-hover);
}

.homed input[type="checkbox"] {
    margin: 2px;
    margin-right: 5px;
}

.homed input[type="number"], .homed input[type="text"], .homed select, .homed textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: var(--background-main);
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    color: var(--color-main);
}

.homed textarea {
    height: 72px;
    padding: 5px;
}

.homed input[type="range"] {
    appearance: none;
    width: 100%;
    height: 5px;
    margin-left: -2px;
    background-color: var(--range-main);
    border: 2px solid var(--background-main);
    border-radius: 5px;
}

.homed input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    box-shadow: 0 0 2px 0 #000000;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border-radius: 50%;
}

.homed input[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 2px #666666;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
}

.homed input[type="time"] {
    height: 14px;
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
}

.homed input.level {
    background: linear-gradient(to right, var(--range-dark), var(--range-light));
}

.homed input.colorTemperature {
    background: linear-gradient(to right, #afd0fb, #f5f3f2, #f2a43a);
}

.homed label {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

.homed label:hover {
    color: var(--color-highlight);
}

.homed label.checkbox {
    cursor: pointer;
}

.homed form label:last-child {
    margin-bottom: 10px;
}

.homed pre {
    overflow-x: auto;
    padding: 5px;
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    font-size: 13px;
    font-family: 'Roboto Mono';
}

.homed span.value {
    background-color: var(--background-shade);
    border-radius: var(--border-radius);
    font-size: 0.8125rem;
    font-family: 'Roboto Mono';
    padding: 1px 10px;
}

.homed table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.homed th {
    padding: 5px 10px;
    border-bottom: 1px solid var(--border-shade);
    font-size: 0.8125rem;
    font-weight: normal;
    color: var(--color-shade);
    text-align: left;
    text-transform: uppercase;
}

.homed td {
    padding: 5px;
    border-top: 1px solid var(--border-shade);
    white-space: nowrap;
}

.homed th:first-child, .homed td:first-child {
    padding-left: 5px !important;
}

.homed th:last-child, .homed td:last-child {
    padding-right: 5px !important;
}

.homed tr:first-child td {
    border: none;
}

.homed .fade-in {
    animation: homedFadeIn linear 0.25s;
}

.homed .fade-out {
    animation: homedFadeOut linear 0.25s;
}

.homed .shade {
    color: var(--color-shade);
}

.homed .success {
    color: var(--color-success);
}

.homed .warning {
    color: var(--color-warning);
}

.homed .error {
    color: var(--color-error);
}

.homed .center {
    text-align: center;
}

.homed .right {
    text-align: right;
}

.homed .unavailable {
    background-color: var(--background-error);
}

.homed .buttons {
    display: inline-flex;
    gap: 5px;
    white-space: nowrap;
}

.homed .loader {
    animation: homedSpin 1s linear infinite;
    border: 2px solid var(--border-main);
    border-top: 2px solid var(--border-loader);
    border-radius: 50%;
    margin: 20px auto;
    height: 20px;
    width: 20px;
}

.homed .dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.homed .dropdown:hover {
    color: var(--color-warning);
}

.homed .dropdown hr {
    background-color: var(--border-main);
    border: none;
    margin: 5px -10px;
    height: 1px;
}

.homed .dropdown .list {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: var(--background-shade);
    border: 1px solid var(--border-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 3px 10px;
    right: -1px;
    top: -1px;
    z-index: 1;
}

.homed .dropdown .item {
    padding: 2px 0;
    text-align: left;
    text-transform: none;
    color: var(--color-main);
}

.homed .dropdown .item:hover {
    color: var(--color-warning);
}

.homed .container {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
}

.homed .content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 1px);
    padding: 0 15px;
}

.homed .header
{
    background-color: var(--background-shade);
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 15px;
    white-space: nowrap;
}

.homed .header img {
    height: calc(var(--header-height) - 20px);
    margin: 10px 5px;
}

.homed .header span {
    cursor: pointer;
    padding: 0 5px;
    text-transform: uppercase;
}

.homed .header span:hover {
    color: var(--color-highlight);
}

.homed .header .container {
    display: flex;
    justify-content: space-between;
}

.homed .header .menu {
    margin-left: auto;
}

.homed .footer
{
    background-color: var(--background-shade);
    color: var(--color-shade);
    font-size: 0.8125rem;
    height: var(--footer-height);
    line-height: var(--footer-height);
    padding: 0 15px;
    white-space: nowrap;
}

.homed .footer .container {
    display: flex;
    justify-content: space-between;
}

.homed .emptyList {
    color: var(--color-shade);
    padding: 15px 0;
    text-align: center;
}

.homed .itemList tbody tr {
    cursor: pointer;
}

.homed .itemList tbody tr:hover {
    background-color: var(--background-hover);
}

.homed .itemList td {
    min-width: 32px;
    padding: 10px;
}

.homed .itemList .tiny {
    width: 32px;
}

.homed .itemList .sort {
    cursor: pointer;
}

.homed .itemList .sort:hover {
    color: var(--color-warning);
}

.homed .automationInfo {
    padding-bottom: 150px;
}

.homed .automationInfo table {
    margin-bottom: 20px;
}

.homed .automationInfo td:first-child {
    width: 100px;
}

.homed .automationInfo td.edit {
    cursor: pointer;
}

.homed .automationInfo td.edit:hover {
    color: var(--color-warning);
}

.homed .automationInfo td.move {
    cursor: pointer;
    color: var(--color-shade);
    width: 14px;
}

.homed .automationInfo td.move:hover {
    color: var(--color-warning);
}

.homed .automationInfo td.remove {
    cursor: pointer;
    text-align: right;
    width: 14px;
}

.homed .automationInfo td.remove:hover {
    color: var(--color-error);
}

.homed .automationInfo .title {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 5px 10px 4px;
}

.homed .automationInfo .title .name {
    font-size: 1.25rem;
    font-weight: 700;
}

.homed .automationInfo .title a {
    color: var(--color-shade);
}

.homed .automationInfo .title a:hover {
    color: var(--color-main);
}

.homed .deviceInfo table {
    margin-bottom: 20px;
}

.homed .deviceInfo td:first-child {
    width: 25%;
    min-width: 150px;
}

.homed .deviceInfo td:last-child {
    font-size: 13px;
    font-family: 'Roboto Mono';
}

.homed .deviceInfo .title {
    align-items: center;
    display: flex;
    font-size: 1.25em;
    font-weight: 700;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 5px 10px 4px;
}

.homed .deviceMap svg {
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: block;
    margin: 10px 5px;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 48px);
    width: calc(100% - 10px);
}

.homed .deviceMap svg text {
    fill: var(--color-main);
    font-size: 12px;
    paint-order: stroke;
    stroke: var(--background-main);
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-width: 2px;
    cursor: pointer;
}

.homed .deviceMap svg text:hover {
    fill: var(--color-highlight);
}

.homed .deviceMap svg .node {
    fill: var(--background-shade);
    stroke: var(--color-main);
    stroke-width: 1.5px;
}

.homed .deviceMap svg .node:hover {
    stroke: var(--color-error);
}

.homed .deviceMap svg .link {
    stroke: var(--border-main);
    stroke-width: 1px;
}

.homed .deviceMap svg .text {
    fill: var(--color-shade);
    font-size: 9px;
}

.homed .deviceMap svg .highlight {
    stroke: var(--color-warning);
}

.homed .deviceMap .checkbox {
    padding: 0 5px;
}

.homed .exposes .value {
    width: 1%;
    min-width: 40px;
    padding-right: 20px;
}

.homed .exposes .value .color {
    width: 13px;
    height: 13px;
    border-radius: 25%;
}

.homed .exposes .control {
    color: var(--color-shade);
}

.homed .exposes .control span {
    cursor: pointer;
}

.homed .exposes .control span:hover {
    color: var(--color-highlight);
}

.homed .exposes .control button {
    height: 18px;
    margin: 0 5px;
}

.homed .exposes .control input[type="number"] {
    position: relative;
    top: -1px;
    width: 100px;
    height: 18px;
    margin-bottom: 0;
    padding-right: 0;
}

.homed #modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.homed #modal pre {
    margin: 0;
    margin-bottom: 10px;
}

.homed #modal .data {
    box-shadow: var(--box-shadow);
    max-width: min(600px, calc(100% - 40px));
    margin: 25px auto;
    padding: 10px;
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
}

.homed #modal .title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.homed #toast {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 300px;
    z-index: 2;
}

.homed #toast .item {
    background-color: var(--background-main);
    border: 1px solid var(--border-shade);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    color: var(--color-main);
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.homed #toast .message {
    margin: 10px;
}

.homed #toast .success {
    border-left: 5px solid green;
}

.homed #toast .warning {
    border-left: 5px solid orange;
}

.homed #toast .error {
    border-left: 5px solid red;
}

.homed #footerData {
    padding: 0 5px;
}

.homed #toggleTheme {
    padding: 0 5px;
    cursor: pointer;
}

.homed #toggleTheme:hover {
    color: var(--color-main);
}

@keyframes homedSpin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes homedFadeIn {
    0%   { max-height: 0px; opacity: 0; }
    100% { max-height: 100px; opacity: 1; }
}

@keyframes homedFadeOut {
    0%   { max-height: 100px; opacity: 1; }
    100% { max-height: 0; opacity: 0; }
}